@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: rgba(0, 0, 0, 0.88);
  background-color: rgb(255, 255, 255);
}

html.dark {
  background-color: rgb(20, 20, 20);
  color: rgba(255, 255, 255, 0.85);
}

.link {
  @apply text-gray-500 hover:text-gray-500/75 dark:text-white dark:hover:text-white/75 transition;
}

.link.active {
  @apply text-teal-500;
}
