@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: rgba(0, 0, 0, 0.88);
  background-color: rgb(255, 255, 255);
}

html.dark {
  background-color: rgb(20, 20, 20);
  color: rgba(255, 255, 255, 0.85);
}
